:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --text-logo: #000000;
  --primary-background-color: #ffffff;
  --second-background-color: #2f303a;
  --min-background-color: #f5f4fa;
  --btn-hover-bg: #188ce8;
  --social-link-color: #afb1b8;
  --header-border: #ececec;
  --card-border: #eeeeee;
  --color-shadow-first: rgba(0, 0, 0, 0.12);
  --color-shadow-second: rgba(0, 0, 0, 0.14);
  --color-shadow-third: rgba(0, 0, 0, 0.2);
  --color-shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --item-card-gap: 30px;
  --timing-funktion: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-net, .social-net__icon-link, .advantages__features, .clients__link {
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

body .modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .menu-mobail__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #ffffff;
  }
  .menu-mobail__container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .mobile-menu__nav {
    margin-bottom: 302px;
  }
  .mobile-menu__contact-item:first-child {
    margin-bottom: 32px;
  }
  .mobile-menu__contact-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    color: #757575;
  }
  .mobile-menu__contact-list {
    margin-bottom: 64px;
  }
  .mobile-menu__social {
    display: flex;
  }
  .mobile-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 12.2;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-menu__social {
    position: relative;
  }
  .mobile-menu__social-item:not(:first-child):before {
    content: "";
    height: 22px;
    width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
  .menu-mobail__content {
    padding: 48px 40px;
  }
  .site-nav-tab {
    position: relative;
  }
  .menu-mobail__btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    display: block;
    padding: 10px;
    border: none;
    background-color: transparent;
  }
  .menu-mobail__btn-close:hover .menu-mobail__icon-close {
    fill: #2196f3;
  }
  .mobile-menu__link_current {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .menu-mobail__container {
    opacity: 0;
    display: none;
    position: absolute;
    visibility: visible;
  }
}

.logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--accent-color);
}

.button {
  border: none;
  border-radius: 4px;
  background-color: var(--min-background-color);
  cursor: pointer;
  transition: background-color 250ms var(--timing-funktion), box-shadow 250ms var(--timing-funktion);
}

.primary__btn {
  min-width: 200px;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: var(--color-shadow-btn);
}

.primary__btn:hover, .primary__btn:focus {
  background-color: var(--btn-hover-bg);
}

.title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
}

.social-net__social-list:not(:last-child) {
  margin-right: 10px;
}

.social-net__icon-link {
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: background-color 250ms var(--timing-funktion);
}

.social-net__icon-link:hover, .social-net__icon-link:focus {
  background-color: var(--accent-color);
}

.social-net__icon {
  fill: var(--social-link-color);
  transition: fill 250ms var(--timing-funktion);
}

.social-net__icon-link:hover .social-net__icon,
.social-net__icon-link:focus .social-net__icon {
  fill: var(--white-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  overflow-y: scroll;
  transition: opacity 250ms var(--timing-funktion), visibility 250ms var(--timing-funktion);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 75%;
  left: 50%;
  padding: 40px;
  min-height: 608px;
  min-width: 450px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-funktion);
}

.icon-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-background-color);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close:focus {
  outline: none;
}

.icon-close-modal {
  transition: fill 250ms var(--timing-funktion);
}

.icon-close:focus .icon-close-modal {
  fill: var(--accent-color);
}

.modal-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal-form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label-title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-form-input {
  width: 100%;
  min-height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-funktion);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms var(--timing-funktion);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-textarea {
  margin-bottom: 20px;
}

.modal-form-data {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-funktion);
}

.modal-form-data:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-data::placeholder {
  font-size: primaryFontSize;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.visually-hidden-form {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.checkbox-policy-form {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
  margin-left: 12px;
  margin-bottom: 30px;
}

.checkbox-policy-form-icon {
  vertical-align: middle;
  cursor: pointer;
  margin-right: 7px;
  transition: fill 250ms var(--timing-funktion);
}

.modal-form-checkbox:focus + .checkbox-policy-form-icon {
  fill: var(--accent-color);
}

.modal-form-checkbox:checked + .checkbox-policy-form-icon {
  opacity: 1;
}

.checkbox-policy-form-icon-chek {
  position: absolute;
  top: 6px;
  left: 0px;
}

.modal-form-checkbox:checked ~ .checkbox-policy-form-icon-chek {
  background-color: var(--accent-color);
  fill: none;
}

.modal-btn-send {
  display: block;
  min-width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms var(--timing-funktion) background-color 250ms var(--timing-funktion) box-shadow 250ms var(--timing-funktion);
}

.modal-btn-send:focus, .modal-btn-send:hover {
  outline: none;
  background-color: var(--btn-hover-bg);
}

.conditions-link {
  color: var(--accent-color);
}

.conditions-link:focus {
  outline: none;
}

.modal-close-btn:focus,
.modal-close-btn:hover {
  outline: none;
}

.header {
  border-bottom: 1px solid var(--header-border);
}

.logo__title {
  color: var(--text-logo);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .site-nav__navigation-list {
    display: none;
  }
  .site-nav__list-desk {
    display: none;
  }
  .menu-mobail {
    display: flex;
    align-items: center;
    min-height: 60px;
  }
  .logo-mob {
    margin-right: 276px;
  }
  .menu-mobail__btn {
    display: block;
    padding: 10px;
    border: none;
    background-color: transparent;
  }
  .menu-mobail__btn:hover {
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .menu-mobail__btn {
    display: none;
  }
  .site-nav-tab {
    display: flex;
    align-items: center;
  }
  .site-nav__navigation-list {
    display: flex;
    justify-content: space-between;
    margin-left: 88px;
  }
  .site-nav__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms var(--timing-funktion);
  }
  .site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .site-nav__link_current {
    position: relative;
    color: var(--accent-color);
  }
  .site-nav__link_current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
  }
  .site-nav__communication:first-child {
    display: block;
    margin-bottom: 10px;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .header-container__position {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .site-nav__contact {
    display: flex;
    align-items: center;
    color: var(--text-color);
  }
  .site-nav__communication {
    margin-bottom: 10px;
  }
  .site-nav__icon {
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
    align-items: flex-start;
  }
  .site-nav__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .site-nav__communication:first-child {
    margin-bottom: 0;
  }
  .site-nav__communication {
    margin-bottom: 0;
  }
  .site-nav__communication:first-child {
    margin-right: 30px;
  }
  .site-nav__navigation-list {
    margin-right: 304px;
  }
}

.hero {
  min-height: 400px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  border-top: 1px solid var(--header-border);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner-mobile/banner-480.jpg");
  background-size: cover;
  background-color: var(--second-background-color);
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner-mobile/banner-480-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner-tablet/header-768.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner-tablet/header-768-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner-desktop/img-banner.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner-desktop/img-banner-2x.jpg");
  }
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.advantages__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  color: var(--text-color);
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
}

.advantages__features {
  align-items: center;
  height: 120px;
  background-color: var(--min-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__title {
  text-align: center;
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 481px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .advantages__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media (min-width: 769px) {
  .advantages {
    padding-bottom: 47px;
  }
  .advantages__list {
    flex-wrap: nowrap;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .works {
    padding-top: 47px;
  }
  .works__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--item-card-gap));
    margin-top: calc(-1 * var(--item-card-gap));
  }
  .works__item {
    position: relative;
    flex-basis: calc(100% / 3 - var(--item-card-gap));
    margin-left: var(--item-card-gap);
    margin-top: var(--item-card-gap);
  }
  .works__title {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 27px 10px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text-color);
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.team {
  background-color: var(--min-background-color);
}

.team__title {
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
}

.team__card {
  box-shadow: 0px 1px 3px var(--color-shadow-first), 0px 1px 1px var(--color-shadow-second), 0px 2px 1px var(--color-shadow-third);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-text-color);
}

.info {
  text-align: center;
  padding: 30px 10px 24px;
}

.info__description {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.info__title {
  margin-bottom: 10px;
  font-weight: 500;
}

.info__text {
  margin-bottom: 16px;
  color: var(--text-color);
}

@media screen and (max-width: 767px) {
  .team__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--item-card-gap));
    margin-top: calc(-1 * var(--item-card-gap));
  }
  .team__card {
    flex-basis: calc(100% / 4 - var(--item-card-gap));
    margin-left: var(--item-card-gap);
    margin-top: var(--item-card-gap);
  }
}

.clients__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.clients__link {
  align-items: center;
  height: 92px;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms var(--timing-funktion);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__logo {
  fill: var(--social-link-color);
  transition: fill 250ms var(--timing-funktion);
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: var(--accent-color);
}

.clients__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 30px;
}

@media screen and (min-width: 768px) {
  .clients__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
  .clients__list {
    grid-template-columns: repeat(7, 170px);
  }
}

.button-nav {
  display: flex;
  flex-wrap: wrap;
}

.button-nav__secondary {
  min-width: 73px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button-nav__secondary:hover, .button-nav__secondary:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project__link {
  display: block;
  transition: box-shadow 250ms var(--timing-funktion);
}

.project__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-thumb__text {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: var(--white-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-funktion);
}

.project__link:hover .overlay-thumb__text,
.project__link:focus .overlay-thumb__text {
  transform: translateY(0);
}

.project__container-info {
  padding: 20px 24px;
  width: 100%;
  border: 1px solid var(--card-border);
  border-top: none;
}

.project__title {
  margin-bottom: 4px;
  text-align: left;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.project__text {
  font-size: 16px;
  line-height: 1.87;
}

.button-nav__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .button-nav__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
  .button-nav__item:nth-child(n + 4) {
    margin-bottom: 40px;
  }
  .project__card-item:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .button-nav {
    justify-content: center;
  }
  .button-nav__item {
    margin-bottom: 30px;
  }
  .project__container-info {
    min-height: 146px;
  }
  .project__card-set {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project__card-set {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .button-nav {
    justify-content: center;
  }
  .button-nav__item {
    margin-bottom: 50px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background-color);
}

.footer__logo {
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.contacts-nav__logo-title {
  color: var(--white-text-color);
}

.contacts-nav__item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
}

.contacts-nav__item:nth-last-child(-n + 2) {
  margin-top: 8px;
}

.contacts-nav__location {
  color: var(--white-text-color);
  transition: color 250ms var(--timing-funktion);
}

.contacts-nav__contact {
  color: var(--contact-footer-color);
  transition: color 250ms var(--timing-funktion);
}

.contacts-nav__mob {
  margin-bottom: 60px;
}

.container-social__text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.social-net__icon_default {
  fill: var(--white-text-color);
}

.social-net__icon-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-funktion);
}

.container-social__mob {
  margin-bottom: 60px;
}

.subscription-form__text {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.subscription-form__input {
  width: 100%;
  height: 50px;
  padding: 0;
  padding-left: 16px;
  background-color: var(--second-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscription-form__input:focus {
  color: var(--white-text-color);
}

.subscription-form__input-footer {
  margin-bottom: 20px;
}

.subscription-form__btn-footer {
  display: block;
  margin: 0 auto;
}

.subscription-form__btn {
  position: relative;
  text-align: start;
}

.subscription-form__icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer__container-position {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 76px;
    margin-right: 90px;
  }
  .subscription-form__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    position: relative;
    display: flex;
    align-items: baseline;
  }
  .footer__logo {
    text-align: left;
    font-size: 26px;
  }
  .contacts-nav__item {
    text-align: left;
  }
  .contacts-nav__item:nth-last-child(-n + 2) {
    margin-top: 9px;
  }
  .contacts-nav__mob {
    margin-bottom: 0;
    margin-right: 70px;
  }
  .container-social__text {
    text-align: left;
  }
  .container-social__mob {
    margin-bottom: 0;
    margin-right: 93px;
  }
  .footer__container-position {
    display: flex;
    align-items: baseline;
  }
  .subscription-form {
    display: block;
    margin-right: 0;
  }
  .subscription-form__text {
    text-align: left;
  }
  .subscription-form__input {
    width: 358px;
    margin-bottom: 0;
  }
  .subscription-form__btn {
    position: absolute;
    display: inline-block;
    right: 15px;
  }
}
/*# sourceMappingURL=main.css.map */