// UTILS
@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/placeholders";
@import "./utils/mixins";

// BASE
@import "./base/common";
@import "./base/section";
@import "./base/container";

// COMPONENTS
@import "./components/mobile-menu";
@import "./components/logo";
@import "./components/button";
@import "./components/titles";
@import "./components/social-net";
@import "./components/backdrop";
@import "./components/modal-window";
@import "./components/modal-form";

// LAYOUT
@import "./layout/header";
@import "./layout/hero";
@import "./layout/advantages";
@import "./layout/work";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/projects";
@import "./layout/footer";
