.header {
  border-bottom: 1px solid var(--header-border);
  position: relative;
}

.menu-mobail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.menu-mobail__btn {
  display: block;
  padding: 8px 12px;
  border: none;
  background-color: transparent;
}

.menu-mobail__btn .menu-mobail__icon-close {
  display: none;
}

.menu-mobail__btn.is-open .menu-mobail__icon-close {
  display: block;
}

.menu-mobail__btn.is-open .menu-mobail__icon-menu {
  display: none;
}

.menu-mobail__container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 40px;
  background-color: yellow;

  &.is-open {
    display: block;
  }
}

// .header-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .site-nav {
//   display: flex;
//   align-items: center;
// }

.logo__title {
  color: var(--text-logo);
}

// .site-nav__navigation-list {
//   display: flex;
//   margin-left: 93px;
// }

// .site-nav__item:not(:last-child) {
//   margin-right: 50px;
// }

.site-nav__text {
  font-weight: 500;
  font-size: $primaryFontSize;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  transition: color 250ms var(--timing-funktion);
}

// .site-nav__link {
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;
// }

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.site-nav__link_current {
  // position: relative;
  color: var(--accent-color);

  &::after {
    // position: absolute;
    // left: 0;
    // bottom: 0;

    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background: var(--accent-color);
  }
}

.site-nav__communication:first-child {
  margin-right: 30px;
}

.site-nav__contact {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.site-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
