
  .menu-mobail__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    background-color: $primary-background-color;

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
 
  .mobile-menu__link {
     
    font-weight: 500;
    font-size: 30px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: $text-logo;
  }

  .mobile-menu__item:not(:last-child) {
    margin-bottom: 22px;
  }

   .mobile-menu__nav {
    margin-bottom: 150px;
  }

  .site-nav-tab {
    position: relative;
  }

  .menu-mobail__btn-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 10px;
    border: none;
    background-color: transparent;
  }

  .menu-mobail__btn-close:hover .menu-mobail__icon-close {
    fill: $accent-color;
  }

  .mobile-menu__link_current {
    color: $accent-color;
  }

  .menu-mobail__content {
    padding: 10px 5px;
  }

  .mobile-menu__contact-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;

    color: $text-color;
  }

    .mobile-menu__contact-item:first-child {
    margin-bottom: 22px;
  }

   .mobile-menu__contact-list {
    margin-bottom: 44px;
  }

   .mobile-menu__social {
    display: flex;
  }

  .mobile-menu__social-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.22;

    letter-spacing: 0.02em;
    color: $accent-color;
  }

  .mobile-menu__social-item:not(:first-child):before {
    content: "";
    height: 22px;
    width: 1px;
    margin-left: 1px;
    margin-right: 1px;

    border: 1px solid rgba(33, 33, 33, 0.2);
  }



@media (min-width: 480px) and (max-width: 767px) {
  // .menu-mobail__container {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   overflow: auto;
  //   z-index: 100;

  //   opacity: 0;
  //   visibility: hidden;
  //   pointer-events: none;

  //   background-color: $primary-background-color;

  //   &.is-open {
  //     opacity: 1;
  //     visibility: visible;
  //     pointer-events: auto;
  //   }
  // }

  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu__link {
    font-size: 40px;
 
  }

  .mobile-menu__nav {
    margin-bottom: 260px;
  }

  .mobile-menu__contact-item:first-child {
    margin-bottom: 32px;
  }

  .mobile-menu__contact-link {

    font-size: 24px;
   
  }

  .mobile-menu__contact-list {
    margin-bottom: 64px;
  }

  // .mobile-menu__social {
  //   display: flex;
  // }

  .mobile-menu__social-link {
    // font-weight: 500;
    font-size: 18px;
    // line-height: 1.22;

    // letter-spacing: 0.02em;
    // color: $accent-color;
  }

  .mobile-menu__social-item:not(:first-child):before {
    content: "";
    // height: 22px;
    // width: 1px;
    margin-left: 10px;
    margin-right: 10px;

    // border: 1px solid rgba(33, 33, 33, 0.2);
  }

  .menu-mobail__content {
    padding: 40px 40px;
  }

  // .site-nav-tab {
  //   position: relative;
  // }

  .menu-mobail__btn-close {
    // position: absolute;
    top: 10px;
    right: 15px;
    // display: block;
    // padding: 10px;
    // border: none;
    // background-color: transparent;
  }

  // .menu-mobail__btn-close:hover .menu-mobail__icon-close {
  //   fill: $accent-color;
  // }

  // .mobile-menu__link_current {
  //   color: $accent-color;
  // }
}

@media screen and (min-width: 768px) {
  .menu-mobail__container {
    opacity: 0;
    display: none;
    position: absolute;
    visibility: visible;
  }
}
